<div style="font-size: 0.8em">
  <nz-drawer
    [nzVisible]="visible"
    nzPlacement="right"
    [nzTitle]="'クエリービルダー'"
    (nzOnClose)="onclose()">
    <ng-container *nzDrawerContent>
      <div *ngIf="!isFood">
        <div class="section-title">🟦 レベル条件</div>
        <nz-select [(ngModel)]="lvType" style="width: 70px;margin-top: 8px;" (ngModelChange)="changeLvType()">
          <nz-option nzValue="IL" nzLabel="IL"></nz-option>
          <nz-option nzValue="LV" nzLabel="LV"></nz-option>
        </nz-select>
        <div nz-row>
          <div nz-col>
            <nz-space nzDirection="vertical" style="width: 100%">
              <nz-input-number-group *nzSpaceItem nzAddOnBefore="が" [nzAddOnAfter]="addOnAfterTemplate1">
                <nz-input-number [(ngModel)]="lvValue" [nzStep]="1" [nzMin]="0" [nzMax]="119" style="width: 70px"></nz-input-number>
              </nz-input-number-group>
              <ng-template #addOnAfterTemplate1>
                <nz-select [(ngModel)]="lvOperator" style="width: 140px;text-align: left;">
                  <nz-option nzValue=">" nzLabel="より大きい"></nz-option>
                  <nz-option nzValue="<" nzLabel="より小さい"></nz-option>
                  <nz-option nzValue=">=" nzLabel="以上"></nz-option>
                  <nz-option nzValue="<=" nzLabel="以下"></nz-option>
                  <nz-option nzValue="=" nzLabel="と等しい"></nz-option>
                  <nz-option nzValue="!=" nzLabel="と等しくない"></nz-option>
                </nz-select>
              </ng-template>
            </nz-space>
          </div>
        </div>
        <button nz-button nzType="primary" (click)="addQuery1()" style="width: 100%;">Add</button>
      </div>
      <div *ngIf="isFood">
        <div class="section-title">⏰ 効果時間</div>
        <div nz-row>
          <div nz-col>
            <nz-space nzDirection="vertical" style="width: 100%;margin-top: 8px;">
              <nz-input-number-group *nzSpaceItem [nzAddOnAfter]="addOnAfterTemplate1">
                <nz-select [(ngModel)]="effectTime" style="width: 80px;text-align: left;">
                  <nz-option nzValue="180" nzLabel="3分"></nz-option>
                  <nz-option nzValue="300" nzLabel="5分"></nz-option>
                  <nz-option nzValue="600" nzLabel="10分"></nz-option>
                  <nz-option nzValue="1800" nzLabel="30分"></nz-option>
                  <nz-option nzValue="3600" nzLabel="1時間"></nz-option>
                  <nz-option nzValue="10800" nzLabel="3時間"></nz-option>
                </nz-select>
              </nz-input-number-group>
              <ng-template #addOnAfterTemplate1>
                <nz-select [(ngModel)]="effectOperator" style="width: 140px;text-align: left;">
                  <nz-option nzValue=">" nzLabel="より大きい"></nz-option>
                  <nz-option nzValue="<" nzLabel="より小さい"></nz-option>
                  <nz-option nzValue=">=" nzLabel="以上"></nz-option>
                  <nz-option nzValue="<=" nzLabel="以下"></nz-option>
                  <nz-option nzValue="=" nzLabel="と等しい"></nz-option>
                  <nz-option nzValue="!=" nzLabel="と等しくない"></nz-option>
                </nz-select>
              </ng-template>
            </nz-space>
          </div>
        </div>
        <button nz-button nzType="primary" (click)="addQuery3()" style="width: 100%;">Add</button>
      </div>
      <div class="section-title" style="margin-top:12px;">📊 ステータス条件</div>
      <div nz-row style="padding-top: 10px;">
        <nz-select [(ngModel)]="target" style="width: 70px">
          <nz-option nzValue="PC" nzLabel="PC"></nz-option>
          <nz-option nzValue="PET" nzLabel="PET"></nz-option>
        </nz-select>
        <nz-tree-select
          style="width: 260px"
          [nzNodes]="nodes"
          nzShowSearch
          nzPlaceHolder="ステータス"
          nzVirtualHeight="50vh"
          [(ngModel)]="statusKey"
          (ngModelChange)="changeStatus()"></nz-tree-select>
      </div>
      <div nz-row>
        <div nz-col>
          <nz-space nzDirection="vertical" style="width: 100%">
            <nz-input-number-group *nzSpaceItem nzAddOnBefore="が" [nzAddOnAfter]="addOnAfterTemplate2">
              <nz-input-number [(ngModel)]="statusValue" [nzStep]="statusStep" style="width: 70px"></nz-input-number>
            </nz-input-number-group>
            <ng-template #addOnAfterTemplate2>
              <nz-select [(ngModel)]="statusOperator" style="width: 140px;text-align: left;">
                <nz-option nzValue=">" nzLabel="より大きい"></nz-option>
                <nz-option nzValue="<" nzLabel="より小さい"></nz-option>
                <nz-option nzValue=">=" nzLabel="以上"></nz-option>
                <nz-option nzValue="<=" nzLabel="以下"></nz-option>
                <nz-option nzValue="=" nzLabel="と等しい"></nz-option>
                <nz-option nzValue="!=" nzLabel="と等しくない"></nz-option>
              </nz-select>
            </ng-template>
          </nz-space>
        </div>
      </div>
        <button nz-button nzType="primary" (click)="addQuery2()" style="width: 100%;">Add</button>
    </ng-container>
  </nz-drawer>
</div>
