
.equipset-table .ant-table-cell {
  padding: 0;
  vertical-align: top;
}

.equipset-table th.ant-table-cell {
  text-align: center;
  vertical-align: middle;
}

.equipset-table th.slot-cell {
  background-color: #fafafa;
  font-size: smaller;
}

.date-label {
  font-size: smaller;
  color: gray;
}
