<nz-select [(ngModel)]="selectedJobs" nzSize="default" nzMode="multiple" style="width: 135px;"
  nzPlaceHolder="ジョブ" nzAllowClear="true" maxlength="100" (ngModelChange)="inputChange()">
  <nz-option *ngFor="let option of jobs" [nzLabel]="option" [nzValue]="option"></nz-option>
</nz-select>
<nz-input-group [nzPrefix]="prefixIconSearch" style="width:300px">
  <input type="text" nz-input [(ngModel)]="inputValue"  maxlength="200"
    nzAllowClear="true" (change)="inputChange()" placeholder="Title or User" />
</nz-input-group>
<ng-template #prefixIconSearch>
  <span nz-icon nzType="search" nzTheme="outline"></span>
</ng-template>

<!-- 公開List一覧 -->
<nz-table #equipsetTable nzBordered [nzData]="publish_equipsets"  [nzLoading]="loading"
  class="publish-table" [nzPageSize]="20" [nzScroll]="{x: '800px'}">
  <thead>
    <tr>
      <th *ngFor="let column of listOfColumns"
        [nzWidth]="column.width" [nzShowSort]="column.showSort"
        [nzSortOrder]="column.sortOrder" [nzSortFn]="column.sortFn"
        [nzSortDirections]="column.sortDirections">
        {{ column.name }}
      </th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let data of equipsetTable.data">
      <tr>
        <td [nzShowExpand]="true" (nzExpandChange)="data.expanded = !data.expanded" [nzExpand]="data.expanded" >
          <div>{{ data.id }}</div>
        </td>
        <td class="center-cell">
          <div>{{ data.job }}</div>
        </td>
        <td>
          <div>{{ data.equipset.name }}</div>
          <div class="memo">{{ data.equipset.memo }}</div>
        </td>
        <td class="detail-cell center-cell">{{ data.equipset.publish_user }}</td>
        <td class="detail-cell center-cell">{{ data.updated_at | date:'yy/MM/dd HH:mm/ss'}}</td>
        <td class="detail-cell">
          {{ data.equipset.publish_comment }}
        </td>
        <td class="detail-cell">
          <a (click)="like(data)" nz-tooltip nzTooltipTitle="いいね">
            <span nz-icon nzType="like" ></span>
          </a>
          {{ data.likes_count }}
        </td>
        <td class="detail-cell">
          <a (click)="copy(data, false, tplContent)" nz-tooltip nzTooltipTitle="My Set にコピー" style="color: black;">
            <span nz-tooltip nzTitle="Like" nz-icon nzType="import"></span>Copy
          </a><br/>
          <a (click)="copy(data, true, tplContent)" nz-tooltip nzTooltipTitle="編集用にMy Set にコピー" style="color: black;">
            <span nz-tooltip nzTitle="Like" nz-icon nzType="form"></span>Edit
          </a>
          <ng-template #tplContent>
            <div nz-row>
              <div nz-col style="width: 100px;">編集キー</div>
              <div nz-col>
                <input nz-input placeholder="編集キー" [(ngModel)]="publish_key" maxlength="20" />
              </div>
            </div>
          </ng-template>
        </td>
      </tr>
      <tr *ngIf="data.expanded">

        <td  [nzIndentSize]="1" colspan="8" class="detail-cell">
          <div nz-row>
            <div nz-col>
              <table class="equip-table">
                <tr>
                  <td>
                    <a (click)="showItem(data.equipset.equip_items, 'メイン')">
                      {{getEquip(data.equipset.equip_items, 'メイン')}}
                    </a>
                  </td>
                  <td>
                    <a (click)="showItem(data.equipset.equip_items, 'サブ')">
                      {{getEquip(data.equipset.equip_items, 'サブ')}}
                    </a>
                  </td>
                  <td>
                    <a (click)="showItem(data.equipset.equip_items, 'レンジ')">
                      {{getEquip(data.equipset.equip_items, 'レンジ')}}
                    </a>
                  </td>
                  <td>
                    <a (click)="showItem(data.equipset.equip_items, '矢弾')">
                      {{getEquip(data.equipset.equip_items, '矢弾')}}
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a (click)="showItem(data.equipset.equip_items, '頭')">
                      {{getEquip(data.equipset.equip_items, '頭')}}
                    </a>
                  </td>
                  <td>
                    <a (click)="showItem(data.equipset.equip_items, '首')">
                      {{getEquip(data.equipset.equip_items, '首')}}
                    </a>
                  </td>
                  <td>
                    <a (click)="showItem(data.equipset.equip_items, '左耳')">
                      {{getEquip(data.equipset.equip_items, '左耳')}}
                    </a>
                  </td>
                  <td>
                    <a (click)="showItem(data.equipset.equip_items, '右耳')">
                      {{getEquip(data.equipset.equip_items, '右耳')}}
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a (click)="showItem(data.equipset.equip_items, '胴')">
                      {{getEquip(data.equipset.equip_items, '胴')}}
                    </a>
                  </td>
                  <td>
                    <a (click)="showItem(data.equipset.equip_items, '両手')">
                      {{getEquip(data.equipset.equip_items, '両手')}}
                    </a>
                  </td>
                  <td>
                    <a (click)="showItem(data.equipset.equip_items, '左指')">
                      {{getEquip(data.equipset.equip_items, '左指')}}
                    </a>
                  </td>
                  <td>
                    <a (click)="showItem(data.equipset.equip_items, '右指')">
                      {{getEquip(data.equipset.equip_items, '右指')}}
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a (click)="showItem(data.equipset.equip_items, '背')">
                      {{getEquip(data.equipset.equip_items, '背')}}
                    </a>
                  </td>
                  <td>
                    <a (click)="showItem(data.equipset.equip_items, '腰')">
                      {{getEquip(data.equipset.equip_items, '腰')}}
                    </a>
                  </td>
                  <td>
                    <a (click)="showItem(data.equipset.equip_items, '両脚')">
                      {{getEquip(data.equipset.equip_items, '両脚')}}
                    </a>
                  </td>
                  <td>
                    <a (click)="showItem(data.equipset.equip_items, '両足')">
                      {{getEquip(data.equipset.equip_items, '両足')}}
                    </a>
                  </td>
                </tr>
              </table>
            </div>
            <div nz-col style="margin-top: -4px;">
              <app-status-table [equipset]="data.equipset"></app-status-table>
            </div>
          </div>
        </td>
      </tr>

    </ng-container>
  </tbody>
</nz-table>

<app-item-detail #ItemDetail></app-item-detail>




