.center-cell {
  text-align: center;
}

td.ant-table-cell {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 4px;
  padding-right: 4px;
}

.memo {
  padding-left:12px;
  font-size: 0.9em;
}

.detail-header{
  background-color: #fafafa;
}

.detail-cell {
  padding: 5px;
  vertical-align: top;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 0.9em;
}

a:hover{
  text-decoration: underline;
}
