<div class="page-header" *ngIf="isHeader">
  <h1 class="page-title">
    <span class="title-icon">🧑‍🤝‍🧑</span>
    みんなの装備
    <span class="title-subtitle">Public Gallery</span>
  </h1>
</div>

<div class="filter-section" *ngIf="isHeader">
  <nz-select [(ngModel)]="selectedJobs" nzSize="default" nzMode="multiple" style="width: 135px;"
    nzPlaceHolder="ジョブ" nzAllowClear="true" maxlength="100" (ngModelChange)="inputChange()">
    <nz-option *ngFor="let option of jobs" [nzLabel]="option" [nzValue]="option"></nz-option>
  </nz-select>
  <nz-input-group [nzSuffix]="suffixIconSearch" style="width:300px">
    <input type="text" nz-input [(ngModel)]="inputValue"  maxlength="200"
      nzAllowClear="true" (change)="inputChange()" placeholder="Title or User" />
  </nz-input-group>
  <ng-template #prefixIconSearch>
    <span nz-icon nzType="search" nzTheme="outline"></span>
  </ng-template>
  <ng-template #suffixIconSearch>
    <span nz-icon class="ant-input-clear-icon" nzTheme="fill"
      nzType="close-circle" *ngIf="inputValue" (click)="clearText()"></span>
  </ng-template>
</div>

<!-- 公開List一覧 -->
<nz-table #equipsetTable nzBordered [nzData]="publish_equipsets"  [nzLoading]="loading" [nzPaginationPosition]="'bottom'"
  class="publish-table" [nzPageSize]="25" [nzScroll]="{x: 'calc(100vw-20px)', y: 'calc(100vh - 220px)'}">
  <thead>
    <tr>
      <th *ngFor="let column of listOfColumns"
        [nzWidth]="column.width" [nzShowSort]="column.showSort"
        [nzSortOrder]="column.sortOrder" [nzSortFn]="column.sortFn"
        [nzSortDirections]="column.sortDirections">
        <a *ngIf="column.name=='Title'" (click)="$event.stopPropagation();changeAllExpanded()" style="margin-left: 2px;margin-right: 6px;font-size: 1.1em;">
          <span *ngIf="!all_expanded" nz-icon nzType="plus-square" nzTheme="outline"></span>
          <span *ngIf="all_expanded" nz-icon nzType="minus-square" nzTheme="outline"></span>
        </a>
        {{ column.name }}
      </th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let data of equipsetTable.data">
      <tr>
        <td [nzShowExpand]="true" (nzExpandChange)="data.expanded = !data.expanded" [nzExpand]="data.expanded" >
          <div nz-row nzJustify="space-between">
            <div nz-col class="title alt-title">
              <button nz-button nzType="primary" nzShape="round" nzSize="small" (click)="filterByJob(data.job)">{{ data.job }}</button>
              <span class="alt-title-main" appAutoFitText [minFontSize]="10" [step]="1">{{ data.equipset.name }}</span>
              <span *ngIf="data.equipset.publish_comment" class="comment" nz-icon nzType="comment" nzTheme="outline"
                nz-tooltip [nzTooltipTitle]="data.equipset.publish_comment"></span>
            </div>
            <div nz-col class="user">
              <span class="alt-title-id">#{{ data.id }}</span>
              <a role="button" class="user-link" (click)="$event.stopPropagation(); filterByUser(data.equipset.publish_user)">{{ data.equipset.publish_user }}</a>
            </div>
          </div>
          <div class="memo">{{ data.equipset.memo }}</div>
        </td>
        <td class="date-cell">{{ data.updated_at | date:'yy/MM/dd HH:mm:ss'}}</td>
      </tr>
      <tr *ngIf="data.expanded">
        <td colspan="2" style="padding: 5px 15px;">
          <div nz-row nzGutter="15" nzAlign="bottom">
            <div nz-col>
              <table class="equip-table">
                <tr>
                  <td (click)="showItem(data.equipset.equip_items, 'メイン')">
                    {{getEquip(data.equipset.equip_items, 'メイン')}}
                  </td>
                  <td (click)="showItem(data.equipset.equip_items, 'サブ')">
                    {{getEquip(data.equipset.equip_items, 'サブ')}}
                  </td>
                  <td (click)="showItem(data.equipset.equip_items, 'レンジ')">
                    {{getEquip(data.equipset.equip_items, 'レンジ')}}
                  </td>
                  <td (click)="showItem(data.equipset.equip_items, '矢弾')">
                    {{getEquip(data.equipset.equip_items, '矢弾')}}
                  </td>
                </tr>
                <tr>
                  <td (click)="showItem(data.equipset.equip_items, '頭')">
                    {{getEquip(data.equipset.equip_items, '頭')}}
                  </td>
                  <td (click)="showItem(data.equipset.equip_items, '首')">
                    {{getEquip(data.equipset.equip_items, '首')}}
                  </td>
                  <td (click)="showItem(data.equipset.equip_items, '左耳')">
                    {{getEquip(data.equipset.equip_items, '左耳')}}
                  </td>
                  <td (click)="showItem(data.equipset.equip_items, '右耳')">
                    {{getEquip(data.equipset.equip_items, '右耳')}}
                  </td>
                </tr>
                <tr>
                  <td (click)="showItem(data.equipset.equip_items, '胴')">
                    {{getEquip(data.equipset.equip_items, '胴')}}
                  </td>
                  <td (click)="showItem(data.equipset.equip_items, '両手')">
                    {{getEquip(data.equipset.equip_items, '両手')}}
                  </td>
                  <td (click)="showItem(data.equipset.equip_items, '左指')">
                    {{getEquip(data.equipset.equip_items, '左指')}}
                  </td>
                  <td (click)="showItem(data.equipset.equip_items, '右指')">
                    {{getEquip(data.equipset.equip_items, '右指')}}
                  </td>
                </tr>
                <tr>
                  <td (click)="showItem(data.equipset.equip_items, '背')">
                    {{getEquip(data.equipset.equip_items, '背')}}
                  </td>
                  <td (click)="showItem(data.equipset.equip_items, '腰')">
                    {{getEquip(data.equipset.equip_items, '腰')}}
                  </td>
                  <td (click)="showItem(data.equipset.equip_items, '両脚')">
                    {{getEquip(data.equipset.equip_items, '両脚')}}
                  </td>
                  <td (click)="showItem(data.equipset.equip_items, '両足')">
                    {{getEquip(data.equipset.equip_items, '両足')}}
                  </td>
                </tr>
              </table>
            </div>
            <div nz-col style="display: flex;overflow-x: auto;">
              <app-status-table [equipset]="data.equipset" [job]="data.job"></app-status-table>
            </div>
          </div>
          <div nz-row class="action">
            <a (click)="copy(data, false, tplContent)">
              <span nz-icon nzType="import" style="padding-right: 2px;"></span>マイセットにコピー
            </a>
            <nz-divider nzType="vertical"></nz-divider>
            <a (click)="copy(data, true, tplContent)">
              <span nz-icon nzType="form" style="padding-right: 2px;"></span>編集する
            </a>
            <nz-divider nzType="vertical"></nz-divider>
            <a (click)="like(data)">
              良いね!
              <span nz-icon nzType="like" style="padding-right: 5px;"></span>
            </a>
            {{ data.likes_count }}
          </div>
        </td>
      </tr>

    </ng-container>
  </tbody>
</nz-table>

<ng-template #tplContent>
  <div nz-row>
    <div nz-col style="width: 100px;">編集キー</div>
    <div nz-col>
      <input nz-input placeholder="編集キー" [(ngModel)]="publish_key" maxlength="20" />
    </div>
  </div>
</ng-template>

<app-item-detail #ItemDetail></app-item-detail>




