<div *ngIf="equip" style="font-size: 0.8em">
  <nz-drawer
    [nzVisible]="visible"
    nzPlacement="bottom"
    [nzTitle]="title"
    nzHeight="255px"
    [nzBodyStyle]="{padding:0}"
    (nzOnClose)="onclose()">
    <ng-template #title>
      <div nz-row>
        <div nz-col style="white-space: nowrap;">
          <span style="font-weight: bolder;">{{equip.name}}</span>
          <span *ngIf="equipAug" style="font-size: 0.9em;padding-left: 5px;background: linear-gradient(transparent 70%, #FFCCFF 70%);">
            {{getAugName()}}
          </span>
          <span style="font-size: 0.8em;padding-left: 5px;">
            <a [href]="getWikiURL(equip.page_title)" target="_blank">FF11用語辞典</a> /
            <a [href]="getFFXIAhURL(equip.name)" target="_blank">FFXIAH</a>
          </span>
        </div>
      </div>
    </ng-template>
    <ng-container *nzDrawerContent>

      <div style="padding-left: 15px;font-weight: bolder;white-space: nowrap;">
        [{{ equip.slot }}] Lv{{ equip.lv }} {{ equip.job }}
        <span *ngIf="equip.rare">(Rare)</span>
        <span *ngIf="equip.ex">(Ex)</span>
        {{ equip.item_lv ? "＜IL:" + equip.item_lv + "＞" : "" }}
        <a nz-button nzType="text" (click)="getClipboard()">
          <span nz-icon nzType="copy" nzTheme="outline"></span>
        </a>
      </div>
      <!-- <div style="padding-left: 15px;">
        <span *ngIf="equip.yomi">
            （{{ equip.yomi }}<span *ngIf="equip.english"> / {{ equip.english }}</span>）
        </span>
        <span *ngIf="equip.install_date" style="padding-right: 20px;">
          Ver. {{ equip.install_date }}
        </span>
      </div> -->

      <nz-tabset  nzTabPosition="left" style="min-width: 1200px;">
        <nz-tab n nzTitle="物理">
          <table>
            <tr>
              <th *ngFor="let data of getStauses('BASE')">{{data.short_name}}</th>
            </tr>
            <tr>
              <td *ngFor="let data of getStauses('BASE')">
                {{ getStausValue(data.name) }}
              </td>
            </tr>
          </table>

          <table>
            <tr>
              <th *ngFor="let data of getStauses('ATACK')">{{data.short_name}}</th>
            </tr>
            <tr>
              <td *ngFor="let data of getStauses('ATACK')">
                {{ getStausValue(data.name) }}
              </td>
            </tr>
          </table>

          <table>
            <tr>
              <th *ngFor="let data of getStauses('DEFENSE')">{{data.short_name}}</th>
            </tr>
            <tr>
              <td *ngFor="let data of getStauses('DEFENSE')">
                {{ getStausValue(data.name) }}
              </td>
            </tr>
          </table>
        </nz-tab>
        <nz-tab n nzTitle="魔法">
          <table>
            <tr>
              <th *ngFor="let data of getStauses('BASE')">{{data.short_name}}</th>
            </tr>
            <tr>
              <td *ngFor="let data of getStauses('BASE')">
                {{ getStausValue(data.name) }}
              </td>
            </tr>
          </table>

          <table>
            <tr>
              <th *ngFor="let data of getStauses('MAGIC')">{{data.short_name}}</th>
            </tr>
            <tr>
              <td *ngFor="let data of getStauses('MAGIC')">
                {{ getStausValue(data.name) }}
              </td>
            </tr>
          </table>

          <table>
            <tr>
              <th *ngFor="let data of getStauses('MAGIC-SKILL')">{{data.short_name}}</th>
            </tr>
            <tr>
              <td *ngFor="let data of getStauses('MAGIC-SKILL')">
                {{ getStausValue(data.name) }}
              </td>
            </tr>
          </table>

        </nz-tab>
        <nz-tab n nzTitle="ペット">
          <table>
            <tr>
              <th *ngFor="let data of getStauses('PET-BASE')">{{data.short_name}}</th>
            </tr>
            <tr>
              <td *ngFor="let data of getStauses('PET-BASE')">
                {{ getStausValue(data.name, true) }}
              </td>
            </tr>
          </table>

          <table>
            <tr>
              <th *ngFor="let data of getStauses('PET-ATACK')">{{data.short_name}}</th>
            </tr>
            <tr>
              <td *ngFor="let data of getStauses('PET-ATACK')">
                {{ getStausValue(data.name, true) }}
              </td>
            </tr>
          </table>

          <table>
            <tr>
              <th *ngFor="let data of getStauses('PET-DEFENSE')">{{data.short_name}}</th>
            </tr>
            <tr>
              <td *ngFor="let data of getStauses('PET-DEFENSE')">
                {{ getStausValue(data.name, true) }}
              </td>
            </tr>
          </table>
        </nz-tab>
      </nz-tabset>
    </ng-container>
  </nz-drawer>
</div>
