<div *ngIf="equip" >
  <nz-drawer
    [nzVisible]="visible"
    nzPlacement="bottom"
    [nzTitle]="title"
    nzHeight="255px"
    [nzBodyStyle]="{padding:0}"
    (nzOnClose)="onclose()">
    <ng-template #title>
      Item Information
      <span style="font-size: smaller;padding-left: 10px;">
        <a [href]="getWikiURL(equip.page_title)" target="_blank">FF11用語辞典</a> /
        <a [href]="getFFXIAhURL(equip.name)" target="_blank">FFXIAH</a>
      </span>
    </ng-template>
    <ng-container *nzDrawerContent>
      <div style="padding-left: 10px;padding-right: 10px;display: flex;overflow-x: auto;">
        <app-status-table [equip]="equip" [equipAug]="equipAug!"></app-status-table>
      </div>
    </ng-container>
  </nz-drawer>
</div>
