<div *ngIf="equip" style="font-size: 0.8em">
  <nz-drawer
    [nzVisible]="visible"
    nzPlacement="bottom"
    [nzTitle]="title"
    (nzOnClose)="onclose()"
  >
    <ng-container *nzDrawerContent>
      <div style="min-width: 1020px">
        <nz-descriptions
          nzBordered
          nzLayout="vertical"
          [nzColumn]="24"
          nzSize="small">
          <nz-descriptions-item [nzTitle]="data.short_name" *ngFor="let data of getStauses('BASE')">
            <span class="status_value">{{ getStausValue(data.name) }}</span>
          </nz-descriptions-item>
        </nz-descriptions>
        <nz-descriptions
          nzBordered
          nzLayout="vertical"
          [nzColumn]="24"
          nzSize="small"
        >
          <nz-descriptions-item
            [nzTitle]="data.short_name"
            *ngFor="let data of getStauses('ATACK')"
          >
            <span class="status_value">{{ equip.pc_status[data.name] }}</span>
          </nz-descriptions-item>
        </nz-descriptions>
        <nz-descriptions
          nzBordered
          nzLayout="vertical"
          [nzColumn]="24"
          nzSize="small"
        >
          <nz-descriptions-item
            [nzTitle]="data.short_name"
            *ngFor="let data of getStauses('DEFENSE')"
          >
            <span class="status_value">{{ equip.pc_status[data.name] }}</span>
          </nz-descriptions-item>
        </nz-descriptions>
      </div>
    </ng-container>
  </nz-drawer>
  <ng-template #title>
    <div nz-row>
      <div nz-col nzFlex="auto">
        <a [href]="getWikiURL(equip.page_title)" target="_blank">{{
          equip.name
        }}</a>
        <span *ngIf="equip.yomi">
          （{{ equip.yomi }}<span *ngIf="equip.english"> / {{ equip.english }}</span
          >）
        </span>
        [{{ equip.slot }}] Lv{{ equip.lv }} {{ equip.job }}
        <span *ngIf="equip.ex">(Ex)</span>
        <span *ngIf="equip.rare">(Rare)</span>
        <button nz-button nzType="text" (click)="getClipboard(equip)"><span nz-icon nzType="copy" nzTheme="outline"></span></button>
      </div>
      <div nz-col nzFlex="120px">
        <span *ngIf="equip.install_date" style="font-size:0.9em;">
          Ver. {{ equip.install_date }}
        </span>
      </div>
    </div>

  </ng-template>
</div>
