::ng-deep .highlight {
  color: red;
  font-weight: bolder;
}
.status_value {
  font-weight: bolder;
  text-align: center;
  background-color: aliceblue;
}
td {
  vertical-align: top;
  font-size: smaller;
}
.active.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  border-top: 3px solid black;
}

.header {
  /* position: fixed; */
  z-index: 99;
  top: 100;
  left: 0;
  width: 100%;
  /* height: 60px; */
  background: rgba(0,0,0,.5);
  transition: .5s;
}
