<div>
  <nz-select
    [(ngModel)]="selectedJobs"
    nzSize="default"
    nzMode="multiple"
    nzPlaceHolder="ジョブ"
    nzAllowClear="true"
    style="width: 180px"
    (ngModelChange)="inputChange()"
  >
    <nz-option
      *ngFor="let option of jobs"
      [nzLabel]="option"
      [nzValue]="option"
    ></nz-option>
  </nz-select>
  <nz-select
    [(ngModel)]="selectedWepons"
    nzSize="default"
    nzMode="multiple"
    nzPlaceHolder="武器"
    nzAllowClear="true"
    style="width: 260px"
    (ngModelChange)="inputChange()"
  >
    <nz-option
      *ngFor="let option of wepons"
      [nzLabel]="option"
      [nzValue]="option"
    ></nz-option>
  </nz-select>
  <nz-select
    [(ngModel)]="selectedArmors"
    nzSize="default"
    nzMode="multiple"
    nzPlaceHolder="防具"
    nzAllowClear="true"
    style="width: 260px"
    (ngModelChange)="inputChange()"
  >
    <nz-option
      *ngFor="let option of armors"
      [nzLabel]="option"
      [nzValue]="option"
    ></nz-option>
  </nz-select>
</div>
<div style="width: 440px">
  <nz-input-group [nzSuffix]="suffixIconSearch">
    <input
      type="text"
      nz-input
      placeholder="(例) PC:命中>20 PET:攻>20"
      [(ngModel)]="inputValue"
      nzAllowClear="true"
      (change)="inputChange()"
    />
  </nz-input-group>
</div>
<div>
  <ng-template #suffixIconSearch>
    <span
      nz-icon
      class="ant-input-clear-icon"
      nzTheme="fill"
      nzType="close-circle"
      *ngIf="inputValue"
      (click)="inputValue = ''; inputChange()"
    ></span>
    <span nz-icon nzType="search" *ngIf="!inputValue"></span>
  </ng-template>
</div>
<div>
  <nz-table #basicTable [nzData]="equipments" [nzLoading]="loading" [nzShowPagination]="false" [nzPageSize]="100"
    nzSize="small" [nzScroll]="{x: '100%', y: '80vh'}">
    <thead>
      <tr>
        <th style="width: 180px">NAME</th>
        <th style="width: 340px">PC</th>
        <th style="width: 180px">PET</th>
        <ng-container *ngFor="let key of opKeywords">
          <th style="width: 40px">{{ key }}</th>
        </ng-container>
        <th style="width: 200px">OTHER</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <ng-container  *ngFor="let data of basicTable.data">
        <tr>
          <td [nzShowExpand]="data.show_expand" (nzExpandChange)="expandChange(data.id, $event);">
            <a aria-label="Name1" (click)="showItemDetail(data)" style="font-size: larger;font-weight: bolder;">
              <span [innerHTML]="replacer(data.name,'NAME')"></span>
            </a>
            <div style="padding-left: 10px;">
              {{ data.slot }}
              <br />
              Lv{{ data.lv }} {{ data.job }}
            </div>
          </td>
          <td><div [innerHTML]="replacer(data.pc_text,'PC')"></div></td>
          <td>
            <div *ngIf="data.pet_status_target">
              {{data.pet_status_target != 'ペット' ? '(' + data.pet_status_target + ') ' : ''}}
              <div  [innerHTML]="replacer(data.pet_text,'PET')"></div>
            </div>
          </td>
          <ng-container *ngFor="let keyword of opKeywords">
            <td class="status_value">{{ getStatusValue(data, keyword) }}</td>
          </ng-container>
          <td>
            <div [innerHTML]="replacer(data.other_text,'OTHER')"></div>
          </td>
          <td>
          </td>
        </tr>
        <ng-container  *ngFor="let aug of data.equipment_augs">
          <tr *ngIf="data.expanded">
            <td [nzIndentSize]="5">
              {{aug.aug_type}} Rank:{{aug.aug_rank}}
            </td>
            <td><div [innerHTML]="replacer(aug.pc_text,'PC')"></div></td>
            <td>
              <div *ngIf="aug.pet_status_target">
                {{aug.pet_status_target != 'ペット' ? '(' + aug.pet_status_target + ') ' : ''}}
                <div  [innerHTML]="replacer(aug.pet_text,'PET')"></div>
              </div>
            </td>
            <ng-container *ngFor="let keyword of opKeywords">
              <td class="status_value">{{ getStatusValue(aug, keyword) }}</td>
            </ng-container>
            <td>
              <div [innerHTML]="replacer(aug.other_text,'OTHER')"></div>
            </td>
            <td>
            </td>
          </tr>
        </ng-container>
      </ng-container>

    </tbody>
  </nz-table>
</div>
<app-item-detail #ItemDetail></app-item-detail>
