<div>
  <div nz-row *ngIf="isHeader">
    <div nz-col nzFlex="320px">
      <nz-select [(ngModel)]="selectedCategories" nzSize="default" nzMode="multiple" style="width: 100%;"
        nzPlaceHolder="カテゴリー" nzAllowClear="true" maxlength="100" (ngModelChange)="inputChange()">
        <nz-option *ngFor="let option of categories" [nzLabel]="option" [nzValue]="option"></nz-option>
      </nz-select>
    </div>
  </div>
  <div nz-row [hidden]="!isHeader">
    <nz-input-group [nzAddOnBefore]="prefixIconSearch" [nzSuffix]="suffixIconSearch" style="max-width:630px">
      <input type="text" nz-input placeholder="(例) TIME=3600 ストアTP>5" maxlength="200"
        [(ngModel)]="inputValue" nzAllowClear="true" (change)="inputChange()" />
    </nz-input-group>
    <ng-template #prefixIconSearch>
      <a style="color: rgba(0,0,0,0.85)" (click)="showIQueryBuilder()">
        <span nz-icon nzType="form" nzTheme="outline"></span>
      </a>
    </ng-template>
    <ng-template #suffixIconSearch>
      <span nz-icon class="ant-input-clear-icon" nzTheme="fill"
        nzType="close-circle" *ngIf="inputValue" (click)="clearText()"></span>
    </ng-template>
  </div>
</div>

<div>
  <nz-table #basicTable2 [nzData]="foods" [nzLoading]="loading"
    [nzShowPagination]="false" [nzFrontPagination] = "false"
    nzVirtualScroll [nzVirtualItemSize]="70"
    nzSize="small" nzBordered="true" [nzScroll]="{x: '100%', y: '0px'}">
    <thead>
      <tr>
        <th nzWidth="175px">NAME</th>
        <ng-container *ngFor="let key of opKeywords">
          <th nzWidth="48px" style="text-overflow: ellipsis;white-space: nowrap;">
            <span [nzTooltipTitle]="key" nzTooltipPlacement="topLeft" nz-tooltip>
              {{ getShrotStatusName(key) }}
            </span>
          </th>
        </ng-container>
        <th nzWidth="350px">PC</th>
        <th nzWidth="150px">PET</th>
        <th nzWidth="250px">NOTE</th>
      </tr>
    </thead>
    <tbody>
      <ng-template nz-virtual-scroll let-data let-index="index" >
        <ng-container>
        <tr>
          <td>
            <a aria-label="Name1" style="font-size: larger;font-weight: bolder;" (click)="showFoodDetail(data)">
              <span [innerHTML]="replacer(data.name,'NAME')"></span>
            </a>
            <div style="padding-left: 10px;">
              {{ data.category }} 〔{{ getTimeText(data.effect_time) }}{{ data.effect_range == "PT" ? " (PT)" : "" }}〕
            </div>
          </td>
          <ng-container *ngFor="let keyword of opKeywords">
            <td class="status_value">{{ getStatusValue(data, keyword) }}</td>
          </ng-container>
          <td><div [innerHTML]="replacer(data.pc_text,'PC')"></div></td>
          <td>
            <div  [innerHTML]="replacer(data.pet_text,'PET')"></div>
          </td>
          <td>
            <div [innerHTML]="replacer(data.other_text,'OTHER')"></div>
          </td>
        </tr>
      </ng-container>
      </ng-template>

    </tbody>
  </nz-table>
</div>
<app-food-detail #FoodDetail></app-food-detail>
<app-query-builder #QueryBuilder [isFood]="true" (created)="addQuery($event)"></app-query-builder>
