<div *ngIf="isHeader">
  <div nz-row>
    <div nz-col nzFlex="320px">
      <nz-select [(ngModel)]="selectedCategories" nzSize="default" nzMode="multiple" style="width: 100%;"
        nzPlaceHolder="カテゴリー" nzAllowClear="true" maxlength="100" (ngModelChange)="inputChange()">
        <nz-option *ngFor="let option of categories" [nzLabel]="option" [nzValue]="option"></nz-option>
      </nz-select>
    </div>
  </div>
  <div nz-row>
    <nz-input-group [nzPrefix]="prefixIconSearch" [nzSuffix]="suffixIconSearch" style="max-width:630px">
      <input type="text" nz-input placeholder="(例) 命中>50 ストアTP>5" maxlength="200"
        [(ngModel)]="inputValue" nzAllowClear="true" (change)="inputChange()" />
    </nz-input-group>
    <ng-template #prefixIconSearch>
      <a style="color: rgba(0,0,0,0.85)" (click)="showIQueryBuilder()">
        <span nz-icon nzType="form" nzTheme="outline"></span>
      </a>
    </ng-template>
    <ng-template #suffixIconSearch>
      <span nz-icon class="ant-input-clear-icon" nzTheme="fill"
        nzType="close-circle" *ngIf="inputValue" (click)="inputValue = ''; inputChange()"></span>
      <span nz-icon nzType="search" *ngIf="!inputValue"></span>
    </ng-template>
  </div>
</div>

<div style="height: 100%;">
  <nz-table #basicTable [nzData]="foods" [nzLoading]="loading" [nzShowPagination]="false" [nzPageSize]="100" [nzVirtualItemSize]="1"
    nzSize="small" nzBordered="true" [nzScroll]="{x: '100%', y: 'calc(100vh - 135px)'}">
    <thead>
      <tr>
        <th nzWidth="175px">NAME</th>
        <ng-container *ngFor="let key of opKeywords">
          <th nzWidth="48px" style="text-overflow: ellipsis;white-space: nowrap;">
            <span [nzTooltipTitle]="key" nzTooltipPlacement="topLeft" nz-tooltip>
              {{ getShrotStatusName(key) }}
            </span>
          </th>
        </ng-container>
        <th nzWidth="350px">PC</th>
        <th nzWidth="150px">PET</th>
        <th nzWidth="250px">NOTE</th>
      </tr>
    </thead>
    <tbody>
      <ng-template nz-virtual-scroll let-data let-index="index">
        <tr>
          <td>
            <a aria-label="Name1" style="font-size: larger;font-weight: bolder;" (click)="showFoodDetail(data)">
              <span [innerHTML]="replacer(data.name,'NAME')"></span>
            </a>
            <div style="padding-left: 10px;">
              {{ data.category }} 〔{{ getTimeText(data.effect_time) }}{{ data.effect_range == "PT" ? " (PT)" : "" }}〕
            </div>
          </td>
          <ng-container *ngFor="let keyword of opKeywords">
            <td class="status_value">{{ getStatusValue(data, keyword) }}</td>
          </ng-container>
          <td><div [innerHTML]="replacer(data.pc_text,'PC')"></div></td>
          <td>
            <div *ngIf="data.pet_status_target">
              {{data.pet_status_target != 'ペット' ? '(' + data.pet_status_target + ') ' : ''}}
            </div>
            <div  [innerHTML]="replacer(data.pet_text,'PET')"></div>
          </td>
          <td>
            <div [innerHTML]="replacer(data.other_text,'OTHER')"></div>
          </td>
        </tr>
      </ng-template>

    </tbody>
  </nz-table>
</div>
<app-food-detail #FoodDetail></app-food-detail>
<app-query-builder #QueryBuilder [isFood]="true" (created)="addQuery($event)"></app-query-builder>
