<div class="relative p-2 w-12 border-round-md main surface-0">
  <div class="absolute top-0 right-0 p-1 m-1">
    <img [hidden]="hidden_image"
      nz-image
      nzDisablePreview="true"
      nzSrc="/assets/images/logo.png"
      alt="FF11装備Navi"
      height="24px"
    />
  </div>
  <nz-tabset nzSize="small" [nzAnimated]="false" nzLinkRouter>
    <nz-tab>
      <a *nzTabLink nz-tab-link routerLink="/">
        <span nz-icon nzType="search"></span>
        <span style="margin-left: -8px;">Search</span>
      </a>
      <div  style="margin-top: -10px;">
        <app-item-navi></app-item-navi>
      </div>
      <div class="absolute buttom-0 right-0 p-10" style="margin-top: -30px; margin-right: 30px;">
        <a href="./privacy.html" class="text-xs">Privacy policy</a>
        <a nz-button nzSize="small" nzType="link" href="https://twitter.com/kutakutar_ff11">
          <i nz-icon nzType="twitter" nzTheme="outline" aria-label="Twitter"></i>
        </a>
      </div>
    </nz-tab>
    <nz-tab>
      <a *nzTabLink nz-tab-link routerLink="/food">
        <span nz-icon nzType="coffee"></span>
        <span style="margin-left: -8px;">Food</span>
      </a>
      <div  style="margin-top: -10px;">
        <app-food-navi></app-food-navi>
      </div>
    </nz-tab>
    <nz-tab>
      <a *nzTabLink nz-tab-link routerLink="/myset">
        <span nz-icon nzType="heart"></span>
        <span style="margin-left: -8px;">My Set</span>
      </a>
      <div  style="margin-top: -10px;">
        <app-equipset (published)="published()"></app-equipset>
      </div>
    </nz-tab>
    <nz-tab>
      <a *nzTabLink nz-tab-link routerLink="/list">
        <span nz-icon nzType="bars"></span>
        <span style="margin-left: -8px;">公開List</span>
      </a>
      <ng-template nz-tab>
        <div  style="margin-top: -10px;">
          <app-publish-list (equipsetCopy)="equipsetCopy($event)"></app-publish-list>
        </div>
      </ng-template>
    </nz-tab>
  </nz-tabset>
  <!-- <router-outlet></router-outlet> -->
</div>


