.watermark {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  font-size: 6em;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.03);
  pointer-events: none;
  z-index: 0;
  white-space: nowrap;
  user-select: none;
}

/* ::ng-deep .tabs-container > nz-tabset > .ant-tabs > .ant-tabs-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 8px 8px 0 8px;
  margin-bottom: 0 !important;
}

::ng-deep .tabs-container > nz-tabset > .ant-tabs > .ant-tabs-content-holder {
  padding-top: 80px  !important;
} */

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.content {
  margin-left:  auto;
  margin-right: auto;
  height: calc(100vh - 140px);
}

nz-header {
  background: #fff;
  padding: 0;
}

nz-content {
  margin: 0 16px;
}

nz-breadcrumb {
  margin: 16px 0;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 360px;
}

nz-footer {
  text-align: center;
}
