<div class="flex align-items-center justify-content-center card-container">
  <div class="relative p-2 w-12 border-round-md main surface-0">
    <!-- <div class="absolute top-0 right-0 p-1 mt-1">
      <img
        nz-image
        nzDisablePreview="true"
        [nzSrc]="logoSrc"
        alt="FF11装備Navi"
        height="28px"
      />
    </div> -->
    <app-item-navi></app-item-navi>
  </div>
</div>

<!-- <div class="flex align-items-center justify-content-center card-container">
  <div class="flex align-items-center justify-content-center">
    <a href="./privacy.html" class="text-xs p-2">プライバシーポリシー</a>
  </div>
</div> -->
<div class="flex align-items-center justify-content-center card-container">
  <div class="flex align-items-center justify-content-center">
    Made with ❤ by KUTAKUTAR
    <a
      nz-button
      nzSize="small"
      nzType="link"
      href="https://twitter.com/kutakutar_ff11"
    >
      <i nz-icon nzType="twitter" nzTheme="outline" aria-label="Twitter"></i>
    </a>
  </div>
</div>
<router-outlet></router-outlet>
