.watermark {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  font-size: 6em;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.03);
  pointer-events: none;
  z-index: 0;
  white-space: nowrap;
  user-select: none;
}


.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.content {
  margin-left:  auto;
  margin-right: auto;
  height: calc(100vh - 120px);
}
