<div class="flex align-items-center justify-content-center card-container">
  <div class="relative p-2 w-12 border-round-md main surface-0">
    <div class="absolute top-0 right-0 p-1 m-1">
      <img [hidden]="hidden_image"
        nz-image
        nzDisablePreview="true"
        nzSrc="/assets/images/logo.png"
        alt="FF11装備Navi"
        height="24px"
      />
    </div>
    <nz-tabset nzSize="small" [(nzSelectedIndex)]="selectedIndex">
      <nz-tab [nzTitle]="titleTemplate1">
        <div  style="margin-top: -10px;">
          <app-item-navi></app-item-navi>
        </div>
      </nz-tab>
      <ng-template #titleTemplate1>
        <span nz-icon nzType="search"></span>Search
      </ng-template>
      <nz-tab [nzTitle]="titleTemplate2">
        <div  style="margin-top: -10px;">
          <app-equipset></app-equipset>
        </div>
      </nz-tab>
      <ng-template #titleTemplate2>
        <span nz-icon nzType="heart"></span>My Set
      </ng-template>
      <ng-template #titleTemplate3>
        <span nz-icon nzType="bars"></span>公開List
      </ng-template>
      <nz-tab [nzTitle]="titleTemplate3">
        <ng-template nz-tab>
          <div  style="margin-top: -10px;">
            <app-publish-list (equipsetCopy)="equipsetCopy($event)"></app-publish-list>
          </div>
        </ng-template>
      </nz-tab>
    </nz-tabset>
    <!-- <router-outlet></router-outlet> -->
  </div>
</div>
<div class="flex card-container blue-container overflow-hidden">
  <div class="flex-none flex align-items-center justify-content-center pl-2">
    <a href="./privacy.html" class="text-xs">Privacy policy</a>
  </div>
  <div class="flex-grow-1 flex align-items-center justify-content-centr">
  </div>
  <div class="flex-none flex align-items-center justify-content-center pr-2">
    <!-- <span style="font-size: smaller;">by KUTAKUTAR</span> -->
    <a nz-button nzSize="small" nzType="link" href="https://twitter.com/kutakutar_ff11">
      <i nz-icon nzType="twitter" nzTheme="outline" aria-label="Twitter"></i>
    </a>
  </div>
</div>
