.rare {
  border-radius:9999px;
  background-color:#fff462;
  margin: 1px;
  width:40px;
  text-align: center;
  display: inline-block;
}

.ex {
  border-radius:9999px;
  background-color:#79c06e;
  margin: 1px;
  width:40px;
  text-align: center;
  display: inline-block;
}

.aug_name{
  font-size: 0.9em;
  padding-left: 5px;
  background: linear-gradient(transparent 70%, #FFCCFF 70%);
}

.base_table table {
  border-collapse: collapse;
}

.base_table th{
  width: 70px;
  border: 1px solid #777;
  background-color: #eee;
  font-weight: bolder;
  font-size: smaller;
  white-space: nowrap;
  padding: 3px 5px 3px 5px ;
}

.base_table .aug-header{
  font-weight: normal;
  background-color: #fef9fb;
}

.base_table td{
  border: 1px solid #777;
  font-size: smaller;
  padding: 3px 5px 3px 5px ;
}

.status_tab {
  margin-top: -10px;
  min-width: 850px;
}

table.status_table {
  border-collapse: collapse;
  table-layout: fixed;
  width: initial;
}

.status_table th{
  width: 52px;
  border: 1px solid #777;
  background-color: #eee;;
  font-size: smaller;
  font-weight: normal;
  white-space: nowrap;
  text-align: center;
}

.status_table td{
  width: 52px;
  height: 25px;
  border: 1px solid #777;
  text-align: center;
  font-size: smaller;
  font-weight: bolder;
}

::ng-deep .highlight-plus {
  color: red;
  font-weight: bolder;
}

::ng-deep .highlight-minus {
  color: blue;
  font-weight: bolder;
}
