<nz-tabset class="status-table" nzSize="small" [nzSelectedIndex]="selectedIndex" (nzSelectedIndexChange)="onSelectedIndexChange($event)">
  <nz-tab *ngIf="equip" nzTitle="基本情報">
    <ng-template nz-tab>
      <div style="margin-top: -10px;padding-bottom: 5px;">
        <div nz-row style="font-weight: bolder;">
          <div nz-col>
            [{{ equip.slot }}] {{equip.name}}
          </div>
          <div nz-col>
            <span *ngIf="equipAug" class="aug_name">
              {{getAugName()}}
            </span>
          </div>
          <div nz-col style="font-weight: normal;padding-left: 5px;">
            Lv{{ equip.lv }} {{ equip.job }}
          </div>
          <div nz-col style="padding-left: 10px;white-space: nowrap;">
            <div *ngIf="equip.rare" class="rare">Rare</div>
            <div *ngIf="equip.ex" class="ex">Ex</div>
          </div>
          <div nz-col>
            {{ equip.item_lv ? "＜IL:" + equip.item_lv + "＞" : "" }}
          </div>
          <div nz-col style="padding-left: 10px;vertical-align: bottom;">
            <span *ngIf="equip.install_date" class="version-date">
              Ver. {{ equip.install_date }}
            </span>
          </div>
          <div nz-col style="padding-left: 10px;vertical-align: bottom;font-weight: normal;font-size: 0.9em;margin-top: 1px;">
            <a [href]="getWikiURL(equip.page_title)" target="_blank">FF11用語辞典</a> /
            <a [href]="getFFXIAhURL(equip.name)" target="_blank">FFXIAH</a>
          </div>
        </div>
      </div>
      <table class="base_table">
        <tr>
          <th>PC</th>
          <td>{{ equip.pc_text }}</td>
        </tr>
        <tr *ngIf="equipAug?.aug_pc_text">
          <th class="aug-header">PC Aug.</th>
          <td>{{ equipAug?.aug_pc_text }}</td>
        </tr>
        <tr *ngIf="equip.pet_text">
          <th>PET</th>
          <td>{{ equip.pet_text }}</td>
        </tr>
        <tr *ngIf="equipAug?.aug_pet_text">
          <th class="aug-header">PET Aug.</th>
          <td>{{ equipAug?.aug_pet_text }}</td>
        </tr>
        <tr *ngIf="equip.other_text">
          <th>OTHER</th>
          <td>{{ equip.other_text }}</td>
        </tr>
      </table>
    </ng-template>
  </nz-tab>
  <nz-tab *ngIf="food" nzTitle="基本情報">
    <ng-template nz-tab>
      <div style="margin-top: -10px;padding-bottom: 5px;">
          <div nz-row style="font-weight: bolder;">
            <div nz-col>
              [{{ food.category }}] {{food.name}}
            </div>
            <div nz-col style="padding-left: 10px;white-space: nowrap;">
              <div *ngIf="food.rare" class="rare">Rare</div>
              <div *ngIf="food.ex" class="ex">Ex</div>
            </div>
            <div nz-col style="padding-left: 10px;vertical-align: bottom;">
              <span *ngIf="food.install_date" class="version-date">
                Ver. {{ food.install_date }}
              </span>
            </div>
            <div nz-col style="padding-left: 10px;vertical-align: bottom;font-weight: normal;font-size: 0.9em;margin-top: 1px;">
              <a [href]="getWikiURL(food.page_title)" target="_blank">FF11用語辞典</a> /
              <a [href]="getFFXIAhURL(food.name)" target="_blank">FFXIAH</a>
            </div>
          </div>
      </div>
      <table class="base_table">
        <tr>
          <th>効果</th>
          <td>{{ getTimeText(food.effect_time) }}{{ food.effect_range == "PT" ? "（PT範囲）" : "" }}</td>
        </tr>
        <tr>
          <th>PC</th>
          <td>{{ food.pc_text }}</td>
        </tr>
        <tr *ngIf="food.pet_text">
          <th>PET</th>
          <td>{{ food.pet_text }}</td>
        </tr>
        <tr *ngIf="food.other_text">
          <th>NOTE</th>
          <td>{{ food.other_text }}</td>
        </tr>
      </table>
    </ng-template>
  </nz-tab>
  <ng-container *ngFor="let st of status_datas">
    <nz-tab [nzTitle]="st.name">
      <ng-template nz-tab>
        <div class="status_tab">
          <ng-container  *ngFor="let keys of st.status_keys; index as i">
            <table class="status_table">
                <tr>
                  <td *ngIf="i==0" rowspan="2">
                    <a nz-button nzType="text" (click)="getClipboard(st.name)" nz-tooltip nzTooltipTitle="クリップボードにコピー">
                      <span nz-icon nzType="copy" nzTheme="outline"></span>
                    </a>
                  </td>
                  <th *ngFor="let value of keys">
                    <div  [ngClass]="isLongText(value) ? 'long-text' : ''" >{{value}}</div>
                  </th>
                  <th *ngFor="let value of get_option_keys(st.name, i)">
                    <div  [ngClass]="isLongText(value) ? 'long-text' : ''" >{{value}}</div>
                  </th>
                </tr>
                <tr>
                  <td *ngFor="let value of keys">
                    <div [innerHTML]='getStausValue(value, st.name)'></div>
                  </td>
                  <td *ngFor="let value of get_option_keys(st.name, i)">
                    <div [innerHTML]='getStausValue(value, st.name)'></div>
                  </td>
                </tr>
            </table>
          </ng-container>
        </div>
      </ng-template>
    </nz-tab>
  </ng-container>
</nz-tabset>
