.rare {
  border-radius:9999px;
  background-color:#fff462;
  margin: 1px;
  width:40px;
  text-align: center;
  display: inline-block;
}

.ex {
  border-radius:9999px;
  background-color:#79c06e;
  margin: 1px;
  width:40px;
  text-align: center;
  display: inline-block;
}

.aug_name {
  font-size: 0.9em;
  padding-left: 5px;
  background: linear-gradient(transparent 70%, #FFCCFF 70%);
}

.version-date {
  font-size: 0.9em;
  font-weight: normal;
  font-style: italic;
}

table.base_table {
  border-top: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
  width: initial;
}

.base_table th{
  width: 70px;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
  background-color: #f9f9f9;
  font-weight: bolder;
  font-size: smaller;
  white-space: nowrap;
  padding: 3px 5px 3px 5px ;
}

.base_table .aug-header{
  font-weight: normal;
  background-color: #fef9fb;
}

.base_table td{
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
  font-size: smaller;
  padding: 3px 5px 3px 5px ;
}

.status_tab {
  margin-top: -10px;
  min-width: 700px;
}

table.status_table {
  border-top: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
  width: initial;
}

.status_table th{
  width: 42px;
  min-width: 42px;
  max-width: 42px;
  height: 18px;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
  background-color: #f9f9f9;
  font-size: smaller;
  font-weight: normal;
  white-space: nowrap;
  text-align: center;
}

.status_table td{
  width: 42px;
  height: 18px;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
  background-color: #ffffff;
  text-align: center;
  font-size: smaller;
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.85);
}

.long-text {
  display: inline-block;
  transform: scale(0.7, 1);
  display: flex;
  justify-content: center;
}

::ng-deep .status-table .ant-tabs-tab-btn {
  font-size: smaller;
}

::ng-deep .highlight-plus {
  color: red;
  font-weight: bolder;
}

::ng-deep .highlight-minus {
  color: blue;
  font-weight: bolder;
}
